[submodule "ext/cglm"]
	path = libs/minigl/ext/cglm
	url = https://github.com/recp/cglm
[submodule "ext/libspng"]
	path = libs/minigl/ext/libspng
	url = https://github.com/randy408/libspng
[submodule "ext/miniz"]
	path = libs/minigl/ext/miniz
	url = https://github.com/richgel999/miniz
